.logo {
    height: 140px;
    background-color: rgb(53, 158, 227);
    background-image: url('img/pattern.png');
}
.logo img {
    width: 25%;
}
.paragraf {
    line-height: 0.5em;
}

.table {
    width:100%;
    height:auto;
    border-collapse: collapse;
    table-layout:auto;
    text-align: left;
  }

  .col1 { 
    width:25%;
  }
  
  .col2 { 
    width:25%;
  }

  .col3 {
   width:50%;
  }
  
  .titletable {
      background-color:rgb(68, 210, 246);
      color: white;
      text-align: left;
  }
  .firstline {
      background-color:rgb(151, 215, 222);
      text-align:left;
  }
  
  .secondline{
      background-color:white;
      text-align:left;
  }
  
  .thirdline {
      background-color: rgb(151, 215, 222);
      text-align:left;
  }
  
  .h3 {
      color:grey;
  }

  .image {
    background-image: url('img/monitor.jpg');
    color: white;
    height: 200px;
    background-repeat: no-repeat;
  }

.finalimage {
    background-image: url('img/graph.jpg');
    color: white;
    height:200px;
    background-repeat: no-repeat;
}